<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/commons.css">
  <link rel="stylesheet" href="../css/article_detail.css">
  <title>OKC Spain</title>
</head>
<body>
  <header>
    <div id="inicio">
      <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
      <h1>OKC Thunder SPAIN</h1>
      <div id="search">
        <input type="search" name="search" placeholder="Buscar..." autocomplete="off">
        <button type="search" alt="search"><img src="../assets/img/search.png" alt="search"></button>
      </div>
    </div>
    <img id="btn-menu" src="../assets/img/icon-menu-button.svg" alt="menu">

    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/icon-close-menu.png" alt="close-menu">
      </div>

      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a href="./standings.html">Clasificaciones</a>
        </li>
        <li>
          <a href="./stats.html">Estadísticas</a>
        </li>
        <li>
          <a href="./calendar.html">Calendario</a>
        </li>
        <li>
          <a href="./history.html">Historia del equipo</a>
        </li>
        <li>
          <a href="./about_us.html">Sobre nosotros</a>
        </li>
        <li>
          <a href="./log_in.html">Iniciar sesión</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <div class="principal">
        <img src="../assets/img/players/shai-gilgeous-alexander-january-23-2025.jpg" alt="shai-54-jazz">
        <h1>Shai alcanza por primera vez la barrera de los 50 y reafirma su candidatura al MVP</h1>
        <p class="entradilla">
          La estrella de OKC superó su career-high sumando un total de 54 puntos para ganar a Utah en un partido más complicado de lo esperado.
        </p>
      </div>
    
      <p class="autor">
        Josep Falagán
      </p>

      <p>
        No hay rival fácil en la NBA. Los Utah Jazz (10-32), colistas del Oeste, visitaban al líder de dicha conferencia, los Oklahoma City Thunder (36-7). Aunque la clasificación refleje una diferencia abismal, la realidad es que el partido estuvo disputado hasta prácticamente el último instante. Los pupilos de Will Hardy, aprovechando las bajas locales en el juego interior, hicieron mucha mella a través de un quinteto con muchos centímetros. Y es que, de hecho, durante gran parte del encuentro juntaban a la vez a tres jugadores por encima de los 2'11 metros: John Collins (2'11), Lauri Markkannen (2'13) y Walker Kessler (2'13) fueron de la partida inicial para los de Salt Lake City, acumulando entre ellos 15 de los 23 rebotes ofensivos de su equipo.
      </p>

      <h2>Uno de los mejores del mundo</h2>
      <div class="marcador">

        <p>
          No obstante, el talento puro es muy difícil de contener, especialmente cuando hablamos de Shai Gilgeous-Alexander. Una vez más, ante una situación de urgencia, se echó el equipo a la espalda y fue tirando del carro sin demasiada ayuda durante la primera mitad. Los triples no entraban para OKC y la diferencia en el rebote era un problema. Mark Daigneault, viendo que ni Jaylin Williams ni Branden Carlson paliaban este hándicap, optó por volver al habitual recurso de jugar con cinco pequeños, siendo Jalen Williams (1'96) el teórico pívot. De esta manera, tanto el primer cuarto como el segundo se cerraron con un tímido +2 para los de azul.
        </p>

        <!--Marcador distinto al de la página principal, pues hablamos de otro partido-->
        <section id="partido">
          <table>
            <thead>
              <tr>
                <th>Equipos</th>
                <th>1Q</th>
                <th>2Q</th>
                <th>3Q</th>
                <th>4Q</th>
                <th>FINAL</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>
                  <img src="../assets/img/Team-logos/logo OKC.png" alt="OKC">
                </td>
                <td>31</td>
                <td>26</td>
                <td>38</td>
                <td>28</td>
                <td class="resultado-final">123</td>
              </tr>
              <tr>
                <td>
                  <img src="../assets/img/Team-logos/utah-jazz.png" alt="UTA">
                </td>
                <td>29</td>
                <td>26</td>
                <td>34</td>
                <td>25</td>
                <td class="resultado-final">114</td>
              </tr>
            </tbody>
          </table>
    
          <div id="stats">
            <table>
              <tbody>
                <tr>
                  <td>S. Gilgeous-Alexander</td>
                  <td>S. Gilgeous-Alexander</td>
                  <td>S. Gilgeous-Alexander</td>
                </tr>
                <tr>
                  <td>
                    <a href="https://www.nba.com/player/1628983/shai-gilgeous-alexander" target="_blank"><img src="../assets/img/stats/shai-stats.png" alt="shai-stats"></a>
                  </td>
                  <td>
                    <a href="https://www.nba.com/player/1628983/shai-gilgeous-alexander" target="_blank"><img src="../assets/img/stats/shai-stats.png" alt="shai-stats"></a>
                  </td>
                  <td>
                    <a href="https://www.nba.com/player/1628983/shai-gilgeous-alexander" target="_blank"><img src="../assets/img/stats/shai-stats.png" alt="shai-stats"></a>
                  </td>
                </tr>
    
                <tr>
                  <td>54 PTS</td>
                  <td>8 REBS</td>
                  <td>5 ASTS</td>
                </tr>
              </tbody>
            </table>
            <a href="https://www.nba.com/game/uta-vs-okc-0022400618%3Fwatch?watchRecap=true" target="_blank"><button>VER RESUMEN</button></a>
          </div>
        </section>
        <p>
          Tras la vuelta de vestuarios, los Jazz arrancaron con fuerza y tomaron momentáneamente la delantera. Por suerte para los Thunder, los triples que no entraban empezaron a caer a cuentagotas para contrarrestar el buen momento de su rival. Además, el bueno de JDub, tan criticado últimamente por su bajón en ataque, volvió a ser el escudero más confiable para SGA aportando 25 puntos de alto valor. Mientras que desde el banquillo emergieron las figuras de Alex Caruso (7 pts, 5 ast, 4 rob) y Cason Wallace (13 pts), que esta vez no fue de la partida inicial.
        </p>
  
        <p>
          Finalmente, ya en el último periodo, emergió de manera imparable la figura del máximo aspirante al MVP, que no es otro que Shai. Su récord anotador estaba situado en 45 puntos, algo más bajo de lo habitual para un jugador de su calibre, pero en esta ocasión, con el partido en el alambre, se fue hasta los 54 puntos, sumando a su hoja estadística 8 rebotes, 5 asistencias, 3 robos y 2 tapones. Toda una exhibición de recursos infinitos con los que anotar que le hacen imparable. De tres, de media distancia, debajo del aro, amagos que se suceden uno tras otro y un sinfín de ingredientes para crear al anotador más letal del mundo.
        </p>
      </div>
    
      <!--Caja de comentarios con su respectivo botón para enviar-->
      <div class="comentarios">
        <p>
          <label for="comentarios"><h3>Comentarios:</h3></label>
        </p>

        <p>
          <textarea name="comentarios" id="comentarios" rows="5" cols="100" maxlength="300" placeholder="Añade un comentario de un máximo de 300 caracteres..."></textarea>
        </p>

        <p>
          <input type="submit" value="Enviar">
        </p>
      </div>
    </section>

    <div class="tablet-pc">
      <h3>MÁS ARTÍCULOS...</h3>
      <section id="destacados2">
        <a href="./article_detail.html">
          <article>
            <img src="../assets/img/players/jalen-williams.jpg" alt="jalen-williams">
            <h2>
              J. Williams, sobre jugar sin pívot: "No es excusa"
            </h2>
          </article>
        </a>
        
        <a href="./article_detail.html">
          <article>
            <img src="../assets/img/players/mark-daigneault.jpg" alt="mark-daigneault">
            <h2>
              Daigneault acota el problema de las faltas
            </h2>
          </article>
        </a>
      </section>
    </div>

    <!--Aside que solo se empleará en la versión Desktop-->
    <aside id="extra-web">
      <h3>MÁS ARTÍCULOS...</h3>
      <a href="./article_detail.html">
        <article>
          <img src="../assets/img/players/jalen-williams.jpg" alt="jalen-williams">
          <h2>
            J. Williams, sobre jugar sin pívot: "No es excusa"
          </h2>
        </article>
      </a>
      
      <a href="./article_detail.html">
        <article>
          <img src="../assets/img/players/mark-daigneault.jpg" alt="mark-daigneault">
          <h2>
            Daigneault acota el problema de las faltas
          </h2>
        </article>
      </a>

      <a href="./article_detail.html">
        <article>
          <img src="../assets/img/players/nba-cup-okc-court.png" alt="cup-court">
          <h2>
            Así luce la nueva cancha para la Copa NBA
          </h2>
        </article>
      </a>

      <a href="./article_detail.html">
        <article>
          <img src="../assets/img/players/thaksgiving-okc.jpg" alt="thaksgiving-okc">
          <h2>
            Día de Acción de Gracias con OKC
          </h2>
        </article>
      </a>

      <!--La intención en un futuro, con los conocimientos necesarios, es poder implementar una espécie de plug-in que se actualice automáticamente-->
      <div>
        <h3>PRÓXIMOS PARTIDOS</h3>
        <img src="../assets/img/stats/next-games.png" alt="next-games">
      </div>
    </aside>
    
  </main>

  <footer>
    <img src="../assets/img/logo.png" alt="logo-footer">
    <nav>
      <a href="">Política de privacidad</a>
      <a href="">Contacta</a>
    </nav>
    <nav>
      <a href="https://www.x.com/" target="_blank"><img src="../assets/img/twitter-logo.png" alt="twitter"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/instagram-logo.png" alt="instagram"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/facebook-logo.png" alt="facebook"></a>
    </nav>
  </footer>

  <script src="../js/index.js"></script>
</body>
</html>