<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/commons.css">
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/formularios.css">
  <title>OKC Spain</title>
</head>
<body>
  <header>
    <div id="inicio">
      <a><img src="../assets/img/logo.png" alt="logo"></a>
      <h1>OKC Thunder SPAIN</h1>
      <div id="search">
        <input type="search" name="search" placeholder="Buscar..." autocomplete="off">
        <button type="search" alt="search"><img src="../assets/img/search.png" alt="search"></button>
      </div>
    </div>
    <img id="btn-menu" src="../assets/img/icon-menu-button.svg" alt="menu">

    <nav id="nav-header">
      <div id="btn-close">
        <img src="../assets/img/icon-close-menu.png" alt="close-menu">
      </div>

      <ul>
        <li>
          <a id="index">Inicio</a>
        </li>
        <li>
          <a id="clasificaciones">Clasificaciones</a>
        </li>
        <li>
          <a id="estadisticas">Estadísticas</a>
        </li>
        <li>
          <a id="calendario">Calendario</a>
        </li>
        <li>
          <a id="historia">Historia del equipo</a>
        </li>
        <li>
          <a id="aboutUs">Sobre nosotros</a>
        </li>
        <li>
          <a id="login">Iniciar sesión</a>
        </li>
        <li>
          <a id="register">Registrarse</a>
        </li>
        <li>
          <a id="logout">Cerrar sesión</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <form id="registro" action="">
      <h2>REGISTRO</h2>
      <p>
        <label for="email">
          <p>Correo electrónico:</p>
          <input type="email" name="email" id="email" autocomplete="off">
          <span class="error" id="error-email"></span>
        </label>
      </p>
      <p>
        <label for="username">
          <p>Nombre de usuario:</p>
          <input type="text" name="username" id="username" autocomplete="off">
          <span class="error" id="error-username"></span>
        </label>
      </p>

      <div class="labelPassword">
        <label for="psswd">
          <p>Contraseña:</p>
          <div id="inputPassword">
            <input type="password" name="psswd" id="psswd">
            <img src="../assets/img/ojo.png" id="ojoPsswd" alt="ojoPsswd">
          </div>
        </label>
      </div>

      <p>
        <label for="repetirPsswd">
          <p>Repetir contraseña:</p>
          <input type="password" name="repetirPsswd" id="repetirPsswd">
          <span class="error" id="error-psswd"></span>
          <span class="error" id="error-repetir"></span>
        </label>
        <div class="barraFortaleza">
          <div id="nivelesFortaleza"></div>
        </div>
      </p>

      <fieldset id="menuRadio">
        <div id="radios">
          <label>
            <input type="radio" name="tipus" value="lector">Lector
          </label>
          <label>
            <input type="radio" name="tipus" value="admin">Administrador
          </label> 
        </div>
      </fieldset>

      <button type="submit" id="registrar" disabled>Registrar</button>
    </form>

    <div class="formCorrecto"></div>
  </main>

  <footer>
    <img src="../assets/img/logo.png" alt="logo-footer">
    <nav>
      <a href="">Política de privacidad</a>
      <a href="">Contacta</a>
    </nav>
    <nav>
      <a href="https://www.x.com/" target="_blank"><img src="../assets/img/twitter-logo.png" alt="twitter"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/instagram-logo.png" alt="instagram"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/facebook-logo.png" alt="facebook"></a>
    </nav>
  </footer>

  <script src="../js/index.js"></script>
  <script src="../js/register.js"></script>
</body>
</html>